In [94]:
import pandas as pd
import math

In [95]:
df = pd.read_csv("teste_21.csv", delimiter = ";")

In [96]:
df.head()

   X  30h  06h  30h_d  06h_d  fila_30  fila_06  dim_22_23  saques_21_23
0  1    8    4      5      3        0        0          0             0
1  2    6    4      3      3        0        0          0             0
2  3    5    1      2      0        0        0          0             0
3  4    3    3      0      2        0        0          0             0
4  5   11    2      8      1        0        0          0             0

In [97]:
df.dtypes

X               int64
30h             int64
06h             int64
30h_d           int64
06h_d           int64
fila_30         int64
fila_06         int64
dim_22_23       int64
saques_21_23    int64
dtype: object

In [98]:
def minimo(a):
    if (a['30h'] > 0 and a['06h'] == 0) or (a['30h'] == 0 and a['06h'] > 0):
        if a['30h'] + a['06h'] < 4:
            return 'Minimo'
        else:
            return "Espaco"
    else:
        if a['30h'] + a['06h'] < 5:
            return "Minimo"
        else:
            return "Espaco"

In [99]:
df['minimo'] = df.apply(minimo, axis=1)

In [100]:
df.head()

,X,30h,06h,30h_d,06h_d,fila_30,fila_06,dim_22_23,saques_21_23,minimo
0,1,8,4,5,3,0,0,0,0,Espaco
1,2,6,4,3,3,0,0,0,0,Espaco
2,3,5,1,2,0,0,0,0,0,Espaco
3,4,3,3,0,2,0,0,0,0,Espaco
4,5,11,2,8,1,0,0,0,0,Espaco

In [101]:
df['delta_30'] = df['30h_d'] - df['30h']
df['delta_06'] = df['06h_d'] - df['06h']
df['delta_final'] = (df['30h_d'] + df['06h_d']) - (df['30h'] + df['06h'])

In [102]:
df.head()

,X,30h,06h,30h_d,06h_d,fila_30,fila_06,dim_22_23,saques_21_23,minimo,delta_30,delta_06,delta_final
0,1,8,4,5,3,0,0,0,0,Espaco,-3,-1,-4
1,2,6,4,3,3,0,0,0,0,Espaco,-3,-1,-4
2,3,5,1,2,0,0,0,0,0,Espaco,-3,-1,-4
3,4,3,3,0,2,0,0,0,0,Espaco,-3,-1,-4
4,5,11,2,8,1,0,0,0,0,Espaco,-3,-1,-4

In [103]:
def status(a):
    if a > 0:
        return "Acrescimo"
    elif a < 0:
        return "Reducao"
    else:
        return "Quadro Ideal"

In [104]:
df['status_30'] = df['delta_30'].apply(status)
df['status_06'] = df['delta_06'].apply(status)
df['status_final'] = df['delta_final'].apply(status)

In [105]:
df.head()

,X,30h,06h,30h_d,06h_d,fila_30,fila_06,dim_22_23,saques_21_23,minimo,delta_30,delta_06,delta_final,status_30,status_06,status_final
0,1,8,4,5,3,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao
1,2,6,4,3,3,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao
2,3,5,1,2,0,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao
3,4,3,3,0,2,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao
4,5,11,2,8,1,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao

In [106]:
df['percent_mudanca'] = abs(((df['30h_d'] + df['06h_d']) / (df['30h'] + df['06h']))-1)

In [107]:
df.head()

,X,30h,06h,30h_d,06h_d,fila_30,fila_06,dim_22_23,saques_21_23,minimo,delta_30,delta_06,delta_final,status_30,status_06,status_final,percent_mudanca
0,1,8,4,5,3,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.333333
1,2,6,4,3,3,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.400000
2,3,5,1,2,0,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.666667
3,4,3,3,0,2,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.666667
4,5,11,2,8,1,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.307692

In [108]:
def delta_ajuste(a):
    if a['percent_mudanca'] > 0.4:
        if a['status_final'] == 'Acrescimo':
            return int((a['30h']+a['06h'])*0.4)
        elif a['status_final'] == 'Reducao':
            return -(int((a['30h']+a['06h'])*0.4))
        else:
            return 0
    else:
        return a['delta_final']

In [109]:
df['delta_ajustado'] = df.apply(delta_ajuste, axis=1)

In [110]:
df.head()

,X,30h,06h,30h_d,06h_d,fila_30,fila_06,dim_22_23,saques_21_23,minimo,delta_30,delta_06,delta_final,status_30,status_06,status_final,percent_mudanca,delta_ajustado
0,1,8,4,5,3,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.333333,-4
1,2,6,4,3,3,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.400000,-4
2,3,5,1,2,0,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.666667,-2
3,4,3,3,0,2,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.666667,-2
4,5,11,2,8,1,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.307692,-4

In [111]:
def delta_30h_ajustado(a):
    if a['delta_30'] == 0:
        return 0
    elif a['percent_mudanca'] < 0.4:
        return a['delta_30']
    elif a['delta_06'] == 0:
        return a['delta_ajustado']
    elif a['delta_30'] > 0 and a['delta_06'] > 0:
        if a['delta_30'] < a['delta_ajustado']:
            return a['delta_30']
        else:
            return a['delta_ajustado']
    elif a['delta_30'] < 0 and a['delta_06'] < 0:
        if a['delta_ajustado'] < a['delta_06']:
            return (a['delta_ajustado'] - a['delta_06'])
        else:
            return 0 
    elif a['delta_30'] > 0 and a['delta_06'] < 0 and a['delta_ajustado'] > 0:
        return a['delta_30'] - ((a['delta_30']+a['delta_06'])-a['delta_ajustado'])
    elif a['delta_30'] > 0 and a['delta_06'] < 0 and a['delta_ajustado'] < 0:
        return  a['delta_30']
    elif a['delta_30'] < 0 and a['delta_06'] > 0 and a['delta_ajustado'] > 0:
        return  a['delta_30']
    elif a['delta_30'] < 0 and a['delta_06'] > 0 and a['delta_ajustado'] < 0:
        return  a['delta_ajustado'] - a['delta_06']

In [112]:
df['delta_30h_ajustado'] = df.apply(delta_30h_ajustado, axis=1)

In [113]:
def delta_06h_ajustado(a):
    if a['delta_06'] == 0:
        return 0
    elif a['percent_mudanca'] < 0.4:
        return a['delta_06']
    elif a['delta_30'] == 0:
        return a['delta_ajustado']
    elif a['delta_30'] > 0 and a['delta_06'] > 0:
        if a['delta_30'] >= a['delta_ajustado']:
            return 0
        else:
            return a['delta_ajustado'] - a['delta_30']
    elif a['delta_30'] < 0 and a['delta_06'] < 0:
        if a['delta_ajustado'] < a['delta_06']:
            return a['delta_06']
        else:
            return a['delta_ajustado'] 
    elif a['delta_30'] > 0 and a['delta_06'] < 0 and a['delta_ajustado'] > 0:
        return a['delta_06']
    elif a['delta_30'] > 0 and a['delta_06'] < 0 and a['delta_ajustado'] < 0:
        return  a['delta_06'] - ((a['delta_06']+ a['delta_30']) - a['delta_ajustado'])
    elif a['delta_30'] < 0 and a['delta_06'] > 0 and a['delta_ajustado'] > 0:
        return  a['delta_06'] - ((a['delta_06']+ a['delta_30']) - a['delta_ajustado'])
    elif a['delta_30'] < 0 and a['delta_06'] > 0 and a['delta_ajustado'] < 0:
        return  a['delta_06']

In [114]:
df['delta_06h_ajustado'] = df.apply(delta_06h_ajustado, axis=1)

In [115]:
df.head()

,X,30h,06h,30h_d,06h_d,fila_30,fila_06,dim_22_23,saques_21_23,minimo,delta_30,delta_06,delta_final,status_30,status_06,status_final,percent_mudanca,delta_ajustado,delta_30h_ajustado,delta_06h_ajustado
0,1,8,4,5,3,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.333333,-4,-3,-1
1,2,6,4,3,3,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.400000,-4,-3,-1
2,3,5,1,2,0,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.666667,-2,-1,-1
3,4,3,3,0,2,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.666667,-2,-1,-1
4,5,11,2,8,1,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.307692,-4,-3,-1

In [116]:
def hall_final1(a):
    if a['minimo'] == "Minimo" and a['status_final'] == "Reducao":
        return a['30h'], a['06h']
    else:
        return a['30h'] + a['delta_30h_ajustado'], a['06h'] + a['delta_06h_ajustado']

In [117]:
df['30h_final1'], df['06h_final1'] = zip(*df.apply(hall_final1, axis=1))

In [118]:
df.head()

,X,30h,06h,30h_d,06h_d,fila_30,fila_06,dim_22_23,saques_21_23,minimo,delta_30,delta_06,delta_final,status_30,status_06,status_final,percent_mudanca,delta_ajustado,delta_30h_ajustado,delta_06h_ajustado,30h_final1,06h_final1
0,1,8,4,5,3,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.333333,-4,-3,-1,5,3
1,2,6,4,3,3,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.400000,-4,-3,-1,3,3
2,3,5,1,2,0,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.666667,-2,-1,-1,4,0
3,4,3,3,0,2,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.666667,-2,-1,-1,2,2
4,5,11,2,8,1,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.307692,-4,-3,-1,8,1

In [119]:
df.dtypes

X                       int64
30h                     int64
06h                     int64
30h_d                   int64
06h_d                   int64
fila_30                 int64
fila_06                 int64
dim_22_23               int64
saques_21_23            int64
minimo                 object
delta_30                int64
delta_06                int64
delta_final             int64
status_30              object
status_06              object
status_final           object
percent_mudanca       float64
delta_ajustado          int64
delta_30h_ajustado      int64
delta_06h_ajustado      int64
30h_final1              int32
06h_final1              int32
dtype: object

In [120]:
sum(df['30h_final1']+df['06h_final1'])

680

#def ajuste_fila_23(a):
    if a['30h'] > 0:
        if a['status_final'] == "Acrescimo":
            if a['fila_30'] < 0.25:
                return a['30h'], a['06h_final1']
            elif a['fila_30'] < 0.4:
                return a['30h'], a['06h_final1']
            elif a['fila_30'] < 0.6:
                return a['30h'], a['06h_final1']
            elif a['fila_30'] > 0.6 and (a['dim_22_23'] < 1 and a['saques_21_23'] < -7):
                return a['30h'] + 1, a['06h_final1']
            elif a['fila_30'] > 0.6 and (a['dim_22_23'] > -1 and a['saques_21_23'] > -7):
                return a['30h_final1'], a['06h_final1']
            else:
                return a['30h'] + 1, a['06h_final1']
        if a['status_30'] == "Quadro Ideal":
            if a['fila_30'] < 0.25:
                return a['30h'] - 1, a['06h_final1']
            elif a['fila_30'] < 0.4:
                return a['30h'], a['06h_final1']
            elif a['fila_30'] < 0.6:
                return a['30h'], a['06h_final1']
            elif a['fila_30'] > 0.6 and (a['dim_22_23'] < 1 and a['saques_21_23'] < -7):
                return a['30h'] + 1, a['06h_final1']
            elif a['fila_30'] > 0.6 and (a['dim_22_23'] > -1 and a['saques_21_23'] > -7):
                return a['30h'] + 1, a['06h_final1']
            else:
                return a['30h'] + 1, a['06h_final1']
        if a['status_30'] == "Reducao":
            if a['fila_30'] < 0.25:
                return a['30h_final1'], a['06h_final1']
            elif a['fila_30'] < 0.4:
                return a['30h_final1'], a['06h_final1']
            elif a['fila_30'] < 0.6:
                return a['30h'], a['06h_final1']
            elif a['fila_30'] > 0.6 and (a['dim_22_23'] < 1 and a['saques_21_23'] < -7):
                return a['30h'], a['06h_final1']
            elif a['fila_30'] > 0.6 and (a['dim_22_23'] > -1 and a['saques_21_23'] > -7):
                return a['30h']+1, a['06h_final1']
            else:
                return a['30h']+1, a['06h_final1']
    elif a['06h'] > 0 and a['30h'] == 0:
        if a['status_06'] == "Acrescimo":
            if a['fila_06'] < 0.25:
                return a['30h'], a['06h']
            elif a['fila_06'] < 0.4:
                return a['30h'], a['06h']
            elif a['fila_06'] < 0.6:
                return a['30h'], a['06h']
            elif a['fila_06'] > 0.6 and (a['dim_22_23'] < 1 and a['saques_21_23'] < -7):
                return a['30h'], a['06h']+1
            elif a['fila_06'] > 0.6 and (a['dim_22_23'] > -1 and a['saques_21_23'] > -7):
                return a['30h'], a['06h_final1']
            else:
                return a['30h'], a['06h']+1
        if a['status_06'] == "Quadro Ideal":
            if a['fila_06'] < 0.25:
                return a['30h'], a['06h']-1
            elif a['fila_06'] < 0.4:
                return a['30h'], a['06h']
            elif a['fila_06'] < 0.6:
                return a['30h'], a['06h']
            elif a['fila_06'] > 0.6 and (a['dim_22_23'] < 1 and a['saques_21_23'] < -7):
                return a['30h'], a['06h']+1
            elif a['fila_06'] > 0.6 and (a['dim_22_23'] > -1 and a['saques_21_23'] > -7):
                return a['30h'], a['06h']+1
            else:
                return a['30h'], a['06h']+1
        if a['status_06'] == "Reducao":
            if a['fila_06'] < 0.25:
                return a['30h'], a['06h_final1']
            elif a['fila_06'] < 0.4:
                return a['30h'], a['06h_final1']
            elif a['fila_06'] < 0.6:
                return a['30h'], a['06h']
            elif a['fila_06'] > 0.6 and (a['dim_22_23'] < 1 and a['saques_21_23'] < -7):
                return a['30h'], a['06h']
            elif a['fila_06'] > 0.6 and (a['dim_22_23'] > -1 and a['saques_21_23'] > -7):
                return a['30h'], a['06h']+1
            else:
                return a['30h'], a['06h']+1
    else:
        return 0,0

In [121]:
# para aplicar, verificar agencias com dois halls que pede acrescimo no 06h
def ajuste_fila_23(a):
    if a['30h'] > 0:
        if a['status_final'] == "Acrescimo":
            if a['fila_30'] < 0.6:
                return (a['30h'] + (a['06h'] - a['06h_final1'])), a['06h_final1']
            elif a['fila_30'] > 0.6 and (a['dim_22_23'] < 1 and a['saques_21_23'] < -7):
                return (a['30h'] + (a['06h'] - a['06h_final1'])+1), a['06h_final1']
            elif a['fila_30'] > 0.6 and (a['dim_22_23'] > -1 and a['saques_21_23'] > -7):
                return a['30h_final1'], a['06h_final1']
            else:
                return (a['30h'] + (a['06h'] - a['06h_final1'])+1), a['06h_final1']
        if a['status_final'] == "Quadro Ideal":
            if a['fila_30'] < 0.3:
                return (a['30h'] + (a['06h'] - a['06h_final1'])-1), a['06h_final1']     
            elif a['fila_30'] < 0.6:
                return a['30h_final1'], a['06h_final1']
            elif a['fila_30'] > 0.6 and (a['dim_22_23'] < 1 and a['saques_21_23'] < -7):
                return a['30h_final1'], a['06h_final1']
            elif a['fila_30'] > 0.6 and (a['dim_22_23'] > -1 and a['saques_21_23'] > -7):
                return (a['30h'] + (a['06h'] - a['06h_final1'])+1), a['06h_final1']
            else:
                return a['30h_final1'], a['06h_final1']
        if a['status_final'] == "Reducao":
            if a['fila_30'] < 0.4:
                return a['30h_final1'], a['06h_final1']
            elif a['fila_30'] < 0.6:
                return a['30h'], a['06h']
            elif a['fila_30'] > 0.6 and (a['dim_22_23'] < 1 and a['saques_21_23'] < -7):
                return a['30h'], a['06h']
            elif a['fila_30'] > 0.6 and (a['dim_22_23'] > -1 and a['saques_21_23'] > -7):
                return a['30h'], a['06h']
            else:
                return a['30h'], a['06h']
    elif a['06h'] > 0 and a['30h'] == 0:
        if a['status_final'] == "Acrescimo":
            if a['fila_06'] < 0.6:
                return a['30h'],a['06h']
            elif a['fila_06'] > 0.6 and (a['dim_22_23'] < 1 and a['saques_21_23'] < -7):
                return a['30h'],a['06h']+1
            elif a['fila_06'] > 0.6 and (a['dim_22_23'] > -1 and a['saques_21_23'] > -7):
                return a['30h'],a['06h_final1']
            else:
                return a['30h'],a['06h']+1
        if a['status_final'] == "Quadro Ideal":
            if a['fila_06'] < 0.3:
                return a['30h'], a['06h'] - 1  
            elif a['fila_06'] < 0.6:
                return a['30h'], a['06h_final1']
            elif a['fila_06'] > 0.6 and (a['dim_22_23'] < 1 and a['saques_21_23'] < -7):
                return a['30h'],a['06h_final1']
            elif a['fila_06'] > 0.6 and (a['dim_22_23'] > -1 and a['saques_21_23'] > -7):
                return a['30h'],a['06h_final1'] + 1
            else:
                return a['30h'],a['06h_final1']
        if a['status_final'] == "Reducao":
            if a['fila_06'] < 0.4:
                return a['06h_final1']
            elif a['fila_06'] < 0.6:
                return a['30h'], a['06h']
            elif a['fila_06'] > 0.6 and (a['dim_22_23'] < 1 and a['saques_21_23'] < -7):
                return a['30h'], a['06h']
            elif a['fila_06'] > 0.6 and (a['dim_22_23'] > -1 and a['saques_21_23'] > -7):
                return a['30h'], a['06h']
            else:
                return a['30h'], a['06h']
    else:
        return 0,0

In [122]:
df['30h_final2'], df['06h_final2'] = zip(*df.apply(ajuste_fila_23, axis=1))

In [123]:
pd.set_option('display.max_columns', None)
df.head()

,X,30h,06h,30h_d,06h_d,fila_30,fila_06,dim_22_23,saques_21_23,minimo,delta_30,delta_06,delta_final,status_30,status_06,status_final,percent_mudanca,delta_ajustado,delta_30h_ajustado,delta_06h_ajustado,30h_final1,06h_final1,30h_final2,06h_final2
0,1,8,4,5,3,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.333333,-4,-3,-1,5,3,5,3
1,2,6,4,3,3,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.400000,-4,-3,-1,3,3,3,3
2,3,5,1,2,0,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.666667,-2,-1,-1,4,0,4,0
3,4,3,3,0,2,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.666667,-2,-1,-1,2,2,2,2
4,5,11,2,8,1,0,0,0,0,Espaco,-3,-1,-4,Reducao,Reducao,Reducao,0.307692,-4,-3,-1,8,1,8,1

In [62]:
df.to_csv('teste21.csv')